@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow: hidden;
}

section {
  padding: 0 32px;
}

nav {
  display: flex;
  padding-top: 32px;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__title {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  font-weight: 1000;
  font-size: 24px;
  padding-left: 8px;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.nav__link{
  padding-left: 28px;
  font-weight: 600;
  font-size: 14px;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__description{
  width: 40%;
}

.header__img--wrapper{
  width: 60%;
}

.header__img{
  width: 800px;
  height: 800px;
}

.header__customers--img{
  width: 400px;
  opacity: 0.5;
}
