@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}

button {
  cursor: pointer;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

#features .container {
  padding: 160px 0 80px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 128px 0px;
}

a {
  padding-left: 36px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: rgba(19, 18, 18, 0.799);
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  transition: all 300ms;
  color: #6415ff;
}

.nav__title {
  display: flex;
  align-items: center;
}

.treact__logo {
  width: 50px;
  padding-right: 8px;
}

h2 {
  font-weight: 900;
  font-size: 24px;
  color: rgba(19, 18, 18, 0.799);
}

.nav__links {
  display: flex;
  list-style-type: none;
  padding-left: 550px;
}

.nav__link--login {
  padding-right: 16px;
}

.purple {
  color: #6415ff;
}

.nav__button {
  background-color: #6415ff;
  color: white;
  border-radius: 300px;
  font-weight: 700;
  padding: 12px 21px;
}

.header__page {
  display: flex;
}

.header__wrapper {
  width: 40%;
}

.header__image--wrapper {
  width: 60%;
}

.header__img {
  width: 770px;
  margin-left: 8px;
}

.header__title {
  font-size: 50px;
  font-weight: 700;
  padding: 24px 0px 32px 0px;
  color: rgba(0, 0, 0, 0.942);
}

.header__para {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 36px;
  color: rgba(19, 18, 18, 0.799);
}

.email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms;
}

.header__customer {
  padding-top: 64px;
}

.customer__title {
  font-size: 12px;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  padding-bottom: 16px;
  color: #a0aec0;
}

.customer__img {
  width: 450px;
  opacity: 0.5;
}

.feature__description,
.pricing__description {
  text-align: center;
  padding: 0px 136px;
}

.section__pre--title {
  letter-spacing: 2px;
  padding-bottom: 24px;
}

.section__title {
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 24px;
}

.section__para {
  font-size: 18px;
  font-weight: 450;
  color: #7c8ba1;
  padding-bottom: 40px;
}

.section__button {
  width: 140px;
  padding: 12px;
  border-radius: 500px;
  background-color: #6415ff;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding: 36px;
}

.service__description {
  display: flex;
  flex-direction: column;
  padding-left: 36px;
}

.service__title {
  font-weight: 700;
  letter-spacing: 1px;
}

.service__para {
  color: rgb(124, 139, 161);
  font-weight: 450;
  font-size: 15px;
  padding-top: 24px;
  line-height: 2;
}

.quality__description,
.steps__description,
.testimonials__description {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality__description {
  padding-right: 36px;
}

.section__img--wrapper {
  width: 50%;
}

.section__img {
  width: 650px;
}

.section__description {
  display: flex;
}

.section__para {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}

#quality .section__title,
#steps .section__title,
#values .section__title {
  font-size: 50px;
  letter-spacing: 1px;
}

#quality .section__title {
  padding-right: 36px;
}

#quality .section__img {
  padding-left: 24px;
}

.steps__list {
  padding-left: 36px;
}

#steps .section__img {
  width: 600px;
  padding-top: 52px;
}

.step__list {
  padding: 0px 64px;
}

#steps .section__pre--title {
  padding-left: 81px;
}

#steps .section__title {
  padding: 0px 12px 32px 81px;
}

#steps .service__title {
  font-size: 20px;
  font-weight: 700;
}

#steps .service__para {
  padding: 10px 50px 26px 0px;
}

#values .section__para {
  padding-right: 36px;
  font-size: 18px;
}

.values__description {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.value__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.value__title--wrapper {
  display: flex;
}

.value__title {
  display: flex;
  padding-right: 24px;
}

.values__para {
  display: flex;
  justify-content: space-between;
}

.value__para--1,
.value__para--2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #7c8ba1;
}

.value__para--1 {
  padding: 24px 16px 48px 0px;
}

.value__para--2 {
  padding: 24px 16px 48px 12px;
}

#values .service__title {
  padding-right: 80px;
  padding-left: 8px;
  font-size: 20px;
  font-weight: 750;
}

.value__img--1,
.value__img--2 {
  border-radius: 50px;
  padding: 1px;
}

.value__img--1 {
  background-color: #9ae6b4;
}
.value__img--2 {
  background-color: #feb2b2;
  margin-left: 48px;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plan__1,
.plan__2,
.plan__3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.3px solid rgb(177, 177, 177, 0.5);
  border-radius: 3%;
  padding-top: 24px;
  margin: 0px 20px;
}

.plan__price,
.plan__price--2,
.plan__name,
.plan__length,
.plan__length--2 {
  letter-spacing: 1px;
  padding-bottom: 12px;
}

.plan__name {
  font-size: 20px;
}

.plan__price {
  font-size: 48px;
  font-weight: 700;
  color: black;
}

.plan__length {
  color: #7c8ba1;
  padding-bottom: 30px;
}

.line__break {
  border: 1px solid rgb(177, 177, 177, 0.5);
  width: 100%;
}

.plan__group {
  padding: 30px 0px;
  font-size: 20px;
  letter-spacing: 1px;
}

.plan__description {
  text-align: center;
}

.plan__para,
.plan__para--2 {
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 24px;
}

.plan__para {
  color: #7c8ba1;
}

.plan__button--1,
.plan__button--2,
.plan__button--3 {
  margin: 42px 0px;
  padding: 18px 52px;
  border-radius: 300px;
  font-weight: 700;
  font-size: 14px;
  border: none;
}

.plan__2 {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__para--2 {
  color: rgb(255, 255, 255);
}

.plan__price--2 {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.plan__length--2 {
  padding-bottom: 30px;
  color: white;
}

.plan__button--1 {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__button--2 {
  color: #6415ff;
}

.plan__button--3 {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

#testimonials .section__img {
  width: 610px;
  padding: 64px 64px 0px 0px;
}

.fa-star {
  color: rgba(255, 187, 0, 0.607);
  font-size: 16px;
}

.review__title {
  padding: 20px 0px;
  font-weight: 700;
}

.review__para {
  letter-spacing: 0.3px;
  font-weight: 400;
}

.review__image--wrapper {
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
}

.review__image {
  display: flex;
}

.review__img {
  width: 70px;
  border-radius: 50px;
}

.review__details {
  padding: 8px 0px 0px 8px;
}

.review__name {
  font-size: 24px;
}

.review__occupation {
  font-size: 16px;
  color: #7c8ba1;
  font-weight: 500;
}

.review__arrows {
  display: flex;
  align-items: center;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: 20px;
  background-color: #ececec;
  padding: 12px;
  border-radius: 50px;
  color: #6415ff;
}

.arrow__split {
  margin: 0px 20px;
  height: 20px;
  border: 1px solid rgb(171, 170, 170, 0.5);
}

.start__wrapper {
  background-color: #6415ff;
  height: 300px;
  margin-bottom: 64px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start__description {
  color: white;
  width: 40%;
  font-weight: 700;
  font-size: 32px;
}

.start__button--1,
.start__button--2 {
  width: 160px;
  padding: 30px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  margin-right: 40px;
}

.start__button--1 {
  background: #f56565;
  border: none;
}

.start__button--1:hover {
  background: rgb(229, 62, 62);
  border: none;
  transition: all 300ms;
}

.start__button--2 {
  background-color: #6415ff;
  border-color: rgb(255, 255, 255, 0.3);
}

.start__button--2:hover {
  background-color: white;
  color: #6415ff;
  transition: all 300ms;
}

footer {
  background-color: #6415ff;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link__title {
  padding: 50px 0px 48px 0px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.link__name {
  color: white;
  padding: 12px;
  font-weight: 500;
}

.footer__break {
  border: 1px solid rgb(156, 156, 156, 0.3);
  margin: 72px 0px 81px 0px;
}

.footer__info {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  display: flex;
  align-items: center;
}

.footer__img {
  width: 35px;
}

.footer__logo--name {
  letter-spacing: 0.5px;
  padding-left: 6px;
  color: white;
  font-size: 20px;
}

.copywright {
  font-size: 14px;
  font-weight: 500;
  color: #c2c2c2;
}

.fa-facebook-f,
.fa-twitter,
.fa-youtube {
  margin: 0px 4px;
  color: #6415ff;
  background-color: white;
  border-radius: 50px;
}

.fa-twitter,
.fa-youtube {
  padding: 10px;
}

.fa-facebook-f {
  padding: 10px 12px;
}

footer a:hover {
  color: white;
  transition: all 300ms;
}

@media (max-width: 1024px) {
  .nav__links,
  .nav__button {
    display: none;
  }

  .nav {
    padding: 16px;
  }

  .header__page {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__description {
    text-align: center;
  }

  .header__img {
    width: 100%;
    padding-top: 50px;
  }

  .section__pre--title {
    text-align: center;
  }

  #quality .section__pre--title,
  #values .section__pre--title {
    padding-right: 56px;
  }

  #steps .section__pre--title {
    padding-right: 60px;
  }

  #quality .section__description,
  #steps .section__description,
  #values .section__description,
  #testimonials .section__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #quality .section__img {
    width: 80%;
    padding-top: 50px;
  }

  #steps .section__img {
    width: 80%;
    padding-bottom: 50px;
  }

  .steps__description {
    padding-right: 50px;
  }

  .value__title--wrapper {
    display: flex;
  }

  #values .section__img {
    width: 90%;
    padding-top: 50px;
  }

  .value__img--2 {
    margin-left: 1px;
  }

  .plan__3 {
    margin-top: 40px;
  }

  #testimonials .section__img {
    width: 110%;
    padding-bottom: 50px;
  }

  footer {
    padding: 0px 50px;
  }
}

@media (max-width: 768px) {
  .email {
    width: 500px;
    margin-left: -56px;
  }
  .customer__img {
    width: 150%;
    margin-left: -72px;
  }

  .service {
    width: calc(100% / 2);
  }

  .section__button {
    margin-left: 90px;
  }

  #quality .section__img {
    width: 100%;
    margin-left: -34px;
  }

  #steps .section__img {
    width: 100%;
    padding-top: 0px;
  }

  #values .section__button {
    margin-left: 100px;
  }

  #values .section__title {
    text-align: center;
    padding-right: 48px;
  }

  .value__img--1 {
    margin-left: -12px;
  }

  .value__img--2 {
    margin-left: -62px;
  }

  .plan__1,
  .plan__2,
  .plan__3 {
    width: 50%;
  }

  .plan__2 {
    margin-top: 40px;
  }

  #testimonials .section__description {
    text-align: center;
  }

  #testimonials .section__img {
    width: 140%;
    padding-bottom: 50px;
    padding-top: 0px;
    margin-left: -40px;
  }

  .start__wrapper {
    padding-left: 24px;
  }

  .start__button--1 {
    margin-right: 8px;
  }
}

@media (max-width: 576px) {
  .email {
    width: 300px;
    margin-left: -28px;
  }

  .customer__img {
    width: 150%;
    padding-left: 30px;
  }

  #quality .section__pre--title {
    padding-left: 46px;
  }

  #quality .section__title{
    font-size: 42px;
  }

  #quality .section__para {
    text-align: center;
  }

  #quality .section__img {
    padding-top: 24px;
    margin-left: -72px;
    width: 140%;
  }

  .section__button {
    margin-left: 56px;
  }

  #values .section__para {
    text-align: center;
  }

  #values .section__button{
    margin-left: 58px;
  }

  .value__img--1 {
    margin-left: -48px;
  }
  .value__title--wrapper {
    max-width: 20px;
  }

  .steps__description {
    margin-left: -72px;
  }

  #steps .section__pre--title{
padding-left: 150px;
  }

  #steps .section__title {
    margin: 0 auto;
  }

  #steps .service__para {
    padding-right: 0px;
  }

  #testimonials .section__img{
    margin-left: -16px;
  }

  .review__image--wrapper{
    width: 100%;
    margin-left: -10px;
  }

  .review__img{
    height: 70px;
  }

  .review__details{
    margin: 0px 12px;
    padding-top: 0px;
  }

  .review__arrows{
    margin: -16px 0px 0px 4px;
  }
}
