@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow: hidden;
}

section {
  padding: 0 32px;
}

nav {
  display: flex;
  padding-top: 32px;
}

header .container {
  margin-top: -24px;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__title {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  font-weight: 1000;
  font-size: 24px;
  padding-left: 8px;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.nav__link {
  padding-left: 28px;
  font-weight: 600;
  font-size: 14px;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__img {
  width: 750px;
  height: 750px;
}

.header__customers--img {
  width: 400px;
  opacity: 0.5;
}

h1 {
  font-size: 48px;
  line-height: 1.25;
  margin-top: 48px;
}

.header__description--para {
  margin: 48px 0;
  line-height: 1.5;
  font-size: 18px;
}


.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.header__customers--img {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}
